/* register section */
section{
    background-color: #EAEAEA;
}

.register-sec{
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    height: 550px;
    width: 100%;
    background: #EAEAEA;
    border-radius: 40px;
    border : 3px solid #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.login-sec{
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    height: 480px;
    width: 100%;
    background: #EAEAEA;
    border-radius: 40px;
    border : 3px solid #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.register-sec .my-width{
    max-width: 600px;
    margin: auto;
    padding-top: 10px;  
    
}
.register-header{
    text-align: center;
    color: #DD6E42;
    width: 600px;
    margin-right: 2000px;
    margin-left: -85px ;
    margin-top: 45px ;
    margin-bottom: 45px ;
    font-size: 15px;
}

/* .judul-hal .slogan{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    width: 600px;
} */

.register-box{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    
}
.form-register{
    display:block;
    color: #3C474B;
}
.data-register{
    display: block;
    margin-bottom: 15px;

}
.data-register label{
    font-size: 17px;
    font-weight: 900px;
}
.data-register input{
    display: block;
    width: 380px;
    height: 35px;
    background: rgba(233, 223, 195, 0.7);
    border: 1px solid rgba(233, 223, 195, 0.7);;
    border-radius: 20px;
    cursor: pointer;
    color: #3C474B;
    padding-left: 12px;
    font-size: 12.5px;
    
}

.data-register button{
    display: block;
    width: 380px;
    height: 35px;
    background: rgba(233, 223, 195, 0.7);
    border: 1px solid rgba(233, 223, 195, 0.7);;
    border-radius: 20px;
    cursor: pointer;
    color: #3C474B;
    padding-left: 12px;
    font-size: 12.5px;
}

.data-register .link-forgot{
    margin-top: 5px;
    color: #9b9b9b;
    font-size: 12px;
    text-decoration: underline;
}

.container-bottom{
    margin-top: 50px;
    height: 150px;
    font-size: 12px;
}

/* .button-register{
    margin-top: 10px;
    background-color: #DD6E42;
    
} */

.data-register .button-register h2{
    font-weight: 700;
    font-size: 17px;
    color: #3C474B;
    text-align: center;
        margin-bottom: 10px;
    margin-top: 10px;

}

.data-register .button-register .button-regular{
    background-color: #DD6E42;
    border: 0px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    /* margin-top: -70px; */
 
}

.data-register .button-register .button-google{
    background-color: rgba(221, 110, 66, 0.75);
    border: 0px;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    /* width: 400px;
    height: 50px; */
    /* margin-bottom: 20px;
    margin-top: 20px; */
 
}

